#!/usr/bin/make -f

export QT_SELECT=qt5

%:
	dh $@

# dh_auto_configure does not work with this package, thus
# we need to call the configure script manually.
override_dh_auto_configure:
	LDFLAGS="-Wl,--as-needed $(LDFLAGS)" ./configure --debug --prefix=/usr

# Install two icons for desktop file
override_dh_auto_install:
	dh_auto_install
	install -m 0644 pics/qbrew.png $(CURDIR)/debian/qbrew/usr/share/icons/hicolor/48x48/apps
	install -m 0644 pics/qbrew.svg $(CURDIR)/debian/qbrew/usr/share/icons/hicolor/scalable/apps
